<ul class="tree">
    <li *ngFor="let item1 of level1Data">
      <span (click)="toggleCollapse(item1)" [class.collapsed]="!item1.expanded" class="node" style="font-size: 13px; text-transform: initial;">
        {{ item1.name }}
      </span>
      <ul *ngIf="item1.expanded">
        <li *ngFor="let item2 of item1.children">
            <a (click)="sendIdInstitut(item2.id)" ><span class="node" style="font-size: 12px; text-transform: initial; font-style: italic;">{{ item2.name }}</span></a>
        </li>
      </ul>
    </li>
  </ul>