<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header  border-0">
                <div class="row align-items-center gy-3">
                  <div class="col-sm">
                    <h5 class="card-title mb-0">CONTACTS</h5>
                  </div>
                  <div class="col-sm-auto hstack gap-2">
                    <button (click)="navigateToCreate()" type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i>
                      Nouveau contact</button>
                    
                    <button class="btn btn-soft-danger" id="remove-actions" style="display: none"><i class="ri-delete-bin-2-line"></i></button>
                  </div>
                </div>
              </div><!-- end card header -->
    
              <div class="card-body">
                <form [formGroup]="searchContactForm">
                    <div class="row g-3">
            
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  mb-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Où?</h5>
                                </div><!-- end card header -->
            
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xxl-6 col-sm-6  mb-3">
                                            <div>
                                                <select class="form-control" (change)="onCountrieSelectChange($event)">
                                                    <option value="">Selectionner le pays</option>
                                                    @for (country of pays; track country.id){
                                                    <option [value]="country.id">
                                                        {{ country.nom_fr_fr }}
                                                    </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-sm-6  mb-3">
                                            <div>
                                                <select class="form-control" data-choices data-choices-search-false (change)="onVilleSelectChange($event)">
                                                    <option value="" selected disabled>Selectionner la ville</option>
                                                    @for (ville of villes; track ville.id){
                                                    <option [value]="ville.id">
                                                        {{ ville.nom }}
                                                    </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Quelle institution?</h5>
                                </div><!-- end card header -->
            
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xxl-6 col-sm-6  mb-3">
                                            <div>
                                                <select class="form-control" (change)="onTypeSelectChange($event)">
                                                    <option value="" selected disabled>Selectionner le type</option>
                                                    @for (type of types; track type.id){
                                                    <option [value]="type.id">
                                                        {{ type.nom }}
                                                    </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-sm-6  mb-3" (click)="toggleOptions($event)">
                                            <div class="search-box">
                                                <input type="text" formControlName="institut" [value]="nomInstitut" class="form-control" placeholder="Nom institution" (input)="onInputChange($event.target)">
                                                <i class="ri-search-line search-icon"></i>
                                                <ul class="autocomplete-list" *ngIf="showOptions">
                                                    <li *ngFor="let i of filteredInstituts" (click)="selectOption(i)">{{ i.nom }}</li>
                                                </ul>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </form>
            </div>
            
            
            <!-- end card -->
            <!-- <div class="card-footer">
                <button type="button" class="btn btn-primary w-100"> <i class="ri-equalizer-fill mx-1 align-bottom"></i>
                    Filtrer
                  </button>
            </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">REGROUPER PAR</h4>
            </div><!-- end card header -->
    
            <div class="card-body">
                @if(response && response.type === 'pays'){
                    <app-tree-node [level1Data]="response.data"></app-tree-node>
                }

                @if(response && response.type === 'ville'){
                    <app-tree-node-ville [level1Data]="response.data"></app-tree-node-ville>
                }

                @if(response && response.type === 'type' && !filteredInstitut){
                    <app-tree-node-type [level1Data]="response.data"></app-tree-node-type>
                }

                @if(filteredInstitut){
                    <app-tree-node-institut [institut]="filteredInstitut"></app-tree-node-institut>
                }
                
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
       <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">LISTE DES CONTACTS</h4>
            </div><!-- end card header -->
     
            @if(contacts.length !== 0){
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-middle mb-0">
                          <thead class="table-light">
                            <tr>
                              <th scope="col">Prénom et Nom</th>
                              <th scope="col">Fonction</th>
                              <th scope="col">T. Fixe</th>
                              <th scope="col">T. Doimicile</th>
                              <th scope="col">T. Mobile</th>
                              <th scope="col">Email</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of contacts">
                            <td>
                                <div class="d-flex gap-2 align-items-center">
                                    <div class="flex-shrink-0">
                                    <img src="assets/images/contacts/contact.png" alt="" class="avatar-xs rounded-circle" />
                                    </div>
                                    <div class="flex-grow-1">
                                    {{data.prenom}} {{data.nom}}
                                    </div>
                                </div>
                            </td>
                              <td>{{data.fonction}}</td>
                              <td>&nbsp;</td>
                              <td>{{data.telephone_fixe}}</td>
                              <td>{{data.telephone_mobile}}</td>
                              
                              <td>{{data.email}}</td>
                              <td>
                                <div class="flex-shrink-0 ms-2">
                                  <div>
                                      <button type="button" (click)="navigateToEdit(data.id)" class="btn btn-sm btn-light"><i class="ri-pencil-line align-bottom"></i></button>
                                      <button type="button" (click)="ouvrirModal(data, '800px', '525px')" class="btn btn-sm btn-light"><i class="ri-eye-line align-bottom"></i></button>
                                  </div>
                              </div>
                              </td>
                            </tr>
                            <!-- Ajoutez ici d'autres lignes de la table -->
                          </tbody>
                          
                        </table>
                        <!-- Fin de la table -->
                      </div>
                </div><!-- end card -->
    
                <div class="card-footer">
                    <div class="align-items-center mt-4 pt-2 justify-content-between d-flex">
                        <div class="col-sm">
                          <div class="text-muted">Affichage <span class="fw-semibold">{{ contactPages.to }}</span> sur <span class="fw-semibold">{{ contactPages.total }}</span> éléments
                          </div>
                        </div>
                        <div class="col-sm-auto">
                          <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
              
                            <li class="page-item" *ngFor="let page of contactPages.links">
                              @if(page.label === 'pagination.previous'  && contactPages.current_page > 1){
                                <a (click)="paginateContact(contactPages.current_page - 1)" class="page-link" [class.active]="page.active">←</a>
                              }
              
                              @if(page.label === 'pagination.next'  && contactPages.current_page !== contactPages.last_page){
                                <a (click)="paginateContact(contactPages.current_page + 1)" class="page-link" [class.active]="page.active">→</a>
                              }
                              @if(page.url !== null && (page.label !=='pagination.previous' && page.label !=='pagination.next')){
                                <a (click)="paginateContact(page.label)" class="page-link" [class.active]="page.active">{{ page.label }}</a>
                              }
                            </li>
              
                          </ul>
                        </div>
                      </div>
                </div>
            }@else{
                <div class="card-body">
                    <p>Aucun enregistrement disponible</p>
                </div>
            }
        </div>
    </div>
</div>