<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header  border-0">
                <div class="row align-items-center gy-3">
                  <div class="col-sm">
                    <h5 class="card-title mb-0">RECHERCHER</h5>
                  </div>
                  <div class="text-end mb-3">
                    <button (click)="resetSearch()"  type="button" class="btn btn-primary w-sm">Réinitialiser</button>
                    </div>
                </div>
              </div><!-- end card header -->
    
              <div class="card-body">
                <form [formGroup]="searchContactForm">
                    <div class="row g-3">
            
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
                                            <div>
                                                <label class="form-label">Pays</label>
                                                <select class="form-control" (change)="onCountrieSelectChange($event)" formControlName="pays">
                                                    <option value="">Selectionner le pays</option>
                                                    @for (country of pays; track country.id){
                                                    <option [value]="country.id">
                                                        {{ country.nom_fr_fr }}
                                                    </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3" *ngIf="paysSelected === true">
                                            <div>
                                                <label class="form-label">Ville</label>
                                                <select class="form-control" data-choices data-choices-search-false (change)="onVilleSelectChange($event)" formControlName="ville">
                                                    <option value="" selected>Selectionner la ville</option>
                                                    @for (ville of villes; track ville.id){
                                                    <option [value]="ville.id">
                                                        {{ ville.nom }}
                                                    </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3"  *ngIf="villeSelected">
                                            <div>
                                                <label class="form-label">Type d'insitution</label>
                                                <select class="form-control" (change)="onTypeSelectChange($event)" formControlName="type">
                                                    <option value="" selected>Selectionner le type</option>
                                                    @for (type of types; track type.id){
                                                    <option [value]="type.id">
                                                        {{ type.nom }}
                                                    </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3" (click)="toggleOptions($event)"  *ngIf="typeSelected">
                                            <label class="form-label">Institution</label>
                                            <div class="search-box">
                                                
                                                <input type="text" formControlName="institut" [value]="nomInstitut" class="form-control" placeholder="Nom de l'institution" (input)="onInputChange($event.target)">
                                                <i class="ri-search-line search-icon"></i>
                                                <ul class="autocomplete-list" *ngIf="showOptions">
                                                    <li *ngFor="let i of filteredInstituts" (click)="selectOption(i)">{{ i.nom }}</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
                                            <label class="form-label">Prénom</label>
                                            <input type="text" (keyup)="filter()" formControlName="prenom" class="form-control">
                                        </div>

                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
                                            <label class="form-label">Nom</label>
                                            <input type="text" (keyup)="filter()" formControlName="nom" class="form-control">
                                        </div>

                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
                                            <label class="form-label">Fonction</label>
                                            <input type="text" (keyup)="filter()" formControlName="fonction" class="form-control">
                                        </div>

            
                                    </div>
                                </div>

                            </div>
                        </div>
            
                        

                        
            
                    </div>
                </form>
            </div>
            
            
            <!-- end card -->
            <!-- <div class="card-footer">
                <button type="button" class="btn btn-primary w-100"> <i class="ri-equalizer-fill mx-1 align-bottom"></i>
                    Filtrer
                  </button>
            </div> -->
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
       <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">{{ submitSearch ? 'RÉSULTAT DE LA RECHERCHE' : 'CONTACTS FAVORIS' }}</h4>
            </div><!-- end card header -->
     
            @if(contacts.length !== 0){

                
                <div class="card-body">
                    <div class="row">
                        <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-1">
                            <div class="col" *ngFor="let data of contacts">
                                <div class="card card-body">
                                    <div class="d-flex mb-4 align-items-center contact-box">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/contacts/user.png" alt="" class="avatar-sm rounded-circle" />
                                        </div>

                                        <div class="flex-grow-1 ms-2">
                                            <h5 class="card-title mb-1">{{ data.prenom }} {{ data.nom }}</h5>
                                            <p class="text-muted mb-0">{{ data.fonction }}</p>
                                        </div>
                                    </div>
                                    <h6 class="mb-1"><span class="label-box">Mobile:</span><a href="tel:{{ data.telephone_mobile ? data.telephone_mobile: '' }}"> {{ data.telephone_mobile ? data.telephone_mobile: 'N/A' }}</a></h6>
                                    <h6 class="mb-1"><span class="label-box">Domicile:</span> <a href="tel:{{ data.telephone_domicile ? data.telephone_domicile : '' }}"> {{ data.telephone_domicile ? data.telephone_domicile : 'N/A' }}</a></h6>
                                    <h6 class="mb-1"><span class="label-box">Fixe:</span><a href="tel:{{ data.telephone_fixe ? data.telephone_fixe : '' }}"> {{ data.telephone_fixe ? data.telephone_fixe : 'N/A' }}</a></h6>
                                    <h6 class="mb-1"><span class="label-box">Email:</span> <a href="mailto:{{ data.email ?  data.email : ''}}"> {{ data.email ?  data.email : 'N/A'}}</a></h6>
                                    <h6 class="mb-1">{{ data.institut.nom}}</h6>
                                    <h6 class="mb-1">{{data.institut.type_institut.ville.nom}}, {{data.institut.type_institut.ville.pays.nom_fr_fr}}</h6>
                                    <div class="text-end">
                                        <button (click)="onClickOnFavoris(data.id)" title="{{!data.favoris ? 'Ajouter aux favoris' : 'Retirer des favoris'}}"  class="btn {{!data.favoris ? 'link-primary' : 'link-danger'}} fw-medium"><i class="ri-user-heart-line align-middle"></i></button>
                                    </div>
                                </div>
                            
                            </div>
                    </div>
                    </div>
                </div><!-- end card -->
    
                <div class="card-footer">
                    <div class="align-items-center mt-4 pt-2 justify-content-between d-flex">
                        <div class="col-sm">
                          <div class="text-muted">Affichage <span class="fw-semibold">{{ contactPages.to }}</span> sur <span class="fw-semibold">{{ contactPages.total }}</span> éléments
                          </div>
                        </div>
                        <div class="col-sm-auto">
                          <ul class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
              
                            <li class="page-item" *ngFor="let page of contactPages.links">
                              @if(page.label === '&laquo; Previous'  && contactPages.current_page > 1){
                                <a (click)="paginateContact(contactPages.current_page - 1)" class="page-link" [class.active]="page.active">←</a>
                              }
              
                              @if(page.label === 'Next &raquo;'  && contactPages.current_page !== contactPages.last_page){
                                <a (click)="paginateContact(contactPages.current_page + 1)" class="page-link" [class.active]="page.active">→</a>
                              }
                              @if(page.url !== null && (page.label !=='&laquo; Previous' && page.label !=='Next &raquo;')){
                                <a (click)="paginateContact(page.label)" class="page-link" [class.active]="page.active">{{ page.label }}</a>
                              }
                            </li>
              
                          </ul>
                        </div>
                      </div>
                </div>
            }@else{
                <div class="card-body">
                    <p>Aucun enregistrement disponible</p>
                </div>
            }
        </div>
    </div>
</div>