<ul class="tree">
    <li *ngFor="let item1 of level1Data">
      <span (click)="toggleCollapse(item1)" [class.collapsed]="!item1.expanded" class="node" style="font-weight: bold; font-size: 14px; text-transform: initial;">
        {{ item1.name }}
      </span>
      <ul *ngIf="item1.expanded">
        <li *ngFor="let item2 of item1.children">
          <span (click)="toggleCollapse(item2)" [class.collapsed]="!item2.expanded" class="node" style="font-size: 13px; text-transform: initial;">
            {{ item2.name }}
          </span>
          <ul *ngIf="item2.expanded">
            <li *ngFor="let item3 of item2.children">
              <a (click)="sendIdInstitut(item3.id)" ><span class="node" style="font-size: 12px; text-transform: initial; font-style: italic;">{{ item3.name }}</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>