<header id="page-topbar" data-scroll-header (window:scroll)="windowScroll()">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a (click)="navigateToHome()" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="assets/images/contacts/contact.svg" alt="" height="40">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/contacts/contact.svg" alt="" height="40">
                        </span>
                    </a>

                    <a (click)="navigateToHome()" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="assets/images/contacts/contact.svg" alt="" height="40">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/contacts/contact.svg" alt="" height="40">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon" (click)="toggleMobileMenu($event)">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>

                
            </div>

            <div class="d-flex align-items-center">

                <div class="dropdown ms-2 topbar-head-dropdown header-item" ngbDropdown>
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <i class="mdi mdi-cog-outline  fs-22"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

                        <!-- item-->
                        @for(item of params;track $index){
                        <a [routerLink]="item.link" class="dropdown-item notify-item language py-2">
                            <span class="align-middle">{{item.label}}</span>
                        </a>
                        }
                    </div>
                </div>

                <div class="ms-2 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen" (click)="fullscreen()">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>


                


                <div class="dropdown ms-2 header-item topbar-user" ngbDropdown>
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" src="assets/images/contacts/user.png" height="20" alt="Header Avatar">
                            <!-- <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{ userData.name }}</span>
                                <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">{{ userData.role }}</span>
                            </span> -->
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <!-- item-->
                        <h6 class="dropdown-header">Bienvenue {{ userData.name }}</h6>
                        <a class="dropdown-item" routerLink="/"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Profil</span></a>
                        
                        <div class="dropdown-divider"></div>
                        
                        <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Déconnexion</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


