.autocomplete-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: calc(100% - 2px);
    z-index: 999;
  }
  
  .autocomplete-list li {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .autocomplete-list li:last-child {
    border-bottom: none;
  }

  .search-link{
    cursor: pointer;
  }

  .form-control-lg{
    border-radius: 1rem !important;
  }

  .input-large{
    padding: 10px 16px !important;
    border-radius: 15px !important;
    font-size: 16px !important;
  }