<div class="row">
    <div class="col-md-12">
        <div class="card rounded">
             <div class="card-header">
                 <h4 class="card-title mb-0">RECHERCHE RAPIDE</h4>
                 <div class="mb-3 mt-3">

                             <div class="input-group">
                                <input type="search" [value]="nomTypeSearch" class="form-control input-large" placeholder="Rechercher un contact par son nom, son prénom, sa fonction, etc."
                                        (input)="onInputChangeSearch($event.target)" (search)="clearSearch()">
                                <!-- <div class="input-group-append">
                                    <button class="form-control input-large" type="button" (click)="clearSearch()">
                                        <i class="mdi mdi-close"></i> 
                                    </button>
                                </div> -->
                            </div>
                            
                     <ul class="autocomplete-list" *ngIf="showOptionsSearch">
                         <li *ngFor="let i of filteredContactSearch" (click)="selectOptionSearch(i)">{{ i.nom }}</li>
                     </ul>
                 </div>

                 <div class="mb-3 text-end">
                    <a class="search-link" (click)="navigateToSearch()">
                        Recherche avancée
                    </a>
                 </div>
             </div><!-- end card header -->

         </div>
     </div>
</div>
<div class="row" *ngIf="data">
    <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-1">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex mb-4 align-items-center contact-box">
                        <div class="flex-shrink-0">
                            <img src="assets/images/contacts/user.png" alt="" class="avatar-sm rounded-circle" />
                        </div>
                        <div class="flex-grow-1 ms-2">
                            <h5 class="card-title mb-1">{{ data.prenom }} {{ data.nom }}</h5>
                            <p class="text-muted mb-0">{{ data.fonction }}</p>
                        </div>
                    </div>
                    <h6 class="mb-1"><span class="label-box">Mobile:</span><a href="tel:{{ data.telephone_mobile ? data.telephone_mobile: '' }}"> {{ data.telephone_mobile ? data.telephone_mobile: 'N/A' }}</a></h6>
                                        <h6 class="mb-1"><span class="label-box">Domicile:</span> <a href="tel:{{ data.telephone_domicile ? data.telephone_domicile : '' }}"> {{ data.telephone_domicile ? data.telephone_domicile : 'N/A' }}</a></h6>
                                        <h6 class="mb-1"><span class="label-box">Fixe:</span><a href="tel:{{ data.telephone_fixe ? data.telephone_fixe : '' }}"> {{ data.telephone_fixe ? data.telephone_fixe : 'N/A' }}</a></h6>
                                        <h6 class="mb-1"><span class="label-box">Email:</span> <a href="mailto:{{ data.email ?  data.email : ''}}"> {{ data.email ?  data.email : 'N/A'}}</a></h6>
                                        <h6 class="mb-1">{{ data.institut.nom}}</h6>
                                        <h6 class="mb-1">Dakar, SENEGAL</h6>
                                        <div class="text-end">
                                            <a (click)="onClickOnFavoris(data.id)" class="lh-1 align-middle link-primary mat-edit-delete-icon cursor-link" ><i title="{{!data.favoris ? 'Ajouter aux favoris' : 'Retirer des favoris'}}"  class="{{!data.favoris ? 'mdi mdi-star-outline' : 'mdi mdi-star-off-outline'}}"></i></a>
                                            <a *ngIf="userData.role ==='GESTIONNAIRE'" (click)="navigateToEdit(data.id)" class="lh-1 align-middle link-primary mat-edit-delete-icon cursor-link"><i class="mdi mdi-lead-pencil" title="Modifier ce contact"></i></a>
                                            <a *ngIf="userData.role ==='GESTIONNAIRE'" (click)="deleteContact(data.id)"  class="lh-1 align-middle link-danger mat-edit-delete-icon cursor-link"><i class="mdi mdi-trash-can-outline" title="Supprimer ce contact"></i></a>
                                        </div>
                </div>
    
                
            </div>
        </div>
</div>
</div>